<%= form_with(model: bill, local: true) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box">
    <%= form.fields_for :bill_items do |p| %>
      <%= render 'bill_item_fields', p: p %>
    <% end %>

    <div class="box-header with-border">
      <%= link_to_bill_item_fields "Add Item", form, :bill_items %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
