<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table>
  <thead>
    <tr>
      <th>Items</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td>Bill ID : <%= bill.id %> | <%= link_to 'Show', bill %> | <%= link_to 'Edit', edit_bill_path(bill) %> | <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% bill.bill_items.each do |bill_item| %>
          <% @item = Item.find(bill_item.item_id) %>
            <tr>
              <td><%= @item.name %></td>
              <td><%= bill_item.quantity %></td>
            </tr>
        <% end %>
        <td>Total Price ====>>>> <%= bill.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
